* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

.topbar {
    margin: 3%;
}

#scores {
    background-color: white;
    border: none;
    color: #c877ed;
    font-size: 20px;
}

#scores:hover {
    color: #2a7bf5;
    cursor: pointer;
}

#timer {
    float: right;
    font-size: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

h1 {
    margin-bottom: 7%;
    font-size: 40px;
    align-items: center;
}

.para2 {
    font-size: 25px;
    margin-bottom: 7%;
}

#start-button {
    background-color: #5e0587;
    color: white;
    font-size: 20px;
    border-width: 14px;
    border-color: #5e0587;
    border-radius: 20px;
    padding: 5px 10px;
}


#start-button:hover {
    background-color: #aa5bcf;
    border-color: #aa5bcf;
    cursor: pointer;
}

.card-questions {
    margin-bottom: 6%;
    font-size: 35px;
    text-align: center;
}


.list-items {
    margin-left: 25%;
    margin-bottom: 2%;
    list-style-type: none;
    font-size: 30px;
}

.button-li {
    background-color: #5e0587;
    color: white;
    font-size: 20px;
    border-width: 8px;
    border-color: #5e0587;
    border-radius: 8px;
    margin-bottom: 1%;
    width: 14rem;
    text-align: left;
}

.button-li:hover {
    background-color: #aa5bcf;
    border-color: #aa5bcf;
    cursor: pointer;
}

#question-feedback {
    margin-left: 24%;
    font-size: 40px;
    font-style: italic;
    border-top: 1px solid grey;
    display: none;
    margin-right: 24%;
}

hr,
#quiz,
#quiz-complete,
#high-scores {
    display: none;
}

#title-done {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    font-size: 40px;
    margin-top: 10%;
    margin-left: 18%;
}

#final-score {
    margin-left: 18%;
    margin-bottom: 6%;
    font-size: 30px;
}

#enter-initials {
    margin-left: 18%;
    font-size: 25px;
}

.highscore-button {
    background-color: #5e0587;
    color: white;
    font-size: 20px;
    border-width: 8px;
    border-color: #5e0587;
    border-radius: 8px;
    display: flex;
    margin-left: 20%;
    margin-bottom: 1%;
    width: 11rem;
}

.highscore-button:hover {
    background-color: #aa5bcf;
    border-color: #aa5bcf;
    cursor: pointer;
}

#highscores-list {
    padding: 1%;
    margin-bottom: 8%;
}

#submit-button {
    margin-top: 30px;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .card {
        margin-top: 14%;
        font-size: 30px;
        ;
    }
}